{% extends '@App/Email/layout.html.twig' %}
{% block title %}Informationen zur Fahrt vom {{ departure|date('d.m.Y') }}{% endblock title %}

{% block body %}
    <p>Hallo {{ firstName }} {{ lastName }},</p>
    <p>wir haben neue Informationen zu deiner gebuchten Fahrt.</p>

    {% set statusColor = 'darkred' %}
    {% set status = 'GELÖSCHT' %}
    {% include '@App/Email/table.html.twig' %}
    <br>

    {% include '@App/Email/partials/link-web-app.html.twig' %}
{% endblock body %}