{% extends '@App/Email/layout.html.twig' %}


{% block body %}
    <p>Hallo {{ passenger.firstName }} {{ passenger.lastName }},</p>
    <p>hiermit bestätigen wir dir deine Mitfahrt folgender Fahrt:</p>

    {% set statusColor = 'green' %}
    {% set status = 'MITFAHRT BESTÄTIGT' %}
    {% include '@App/Email/table.html.twig' %}
    <br>

    {% include '@App/Email/partials/link-web-app.html.twig' %}
{% endblock body %}