{% extends '@App/Email/layout.html.twig' %}


{% block body %}
    <p>Hallo {{ firstName }} {{ lastName }},</p>
    <p>wir haben neue Informationen zu deiner gebuchten Fahrt.</p>
    <p>Der Mitfahrer {{ passenger.firstName }} {{ passenger.lastName }} hat die Fahrt storniert.</p>

    {% set statusColor = 'darkred' %}
    {% set status = 'MITFAHRT STORNIERT' %}
    {% include '@App/Email/table.html.twig' %}
    <br>

    {% include '@App/Email/partials/link-web-app.html.twig' %}
{% endblock body %}