{% extends '@App/Email/layout.html.twig' %}


{% block body %}
    <p>Hallo {{ firstName }} {{ lastName }},</p>
    <p>wir haben neue Informationen zu deiner gebuchten Fahrt.</p>
    <p>Der Benutzer {{ firstName }} {{ lastName }} hat deine Fahrt gebucht.</p>

    {% set statusColor = 'green' %}
    {% set status = 'FAHRT WURDE GEBUCHT' %}
    {% include '@App/Email/table.html.twig' %}
    <br>

    {% include '@App/Email/partials/link-web-app.html.twig' %}
{% endblock body %}