<div class="footer">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="content-block">
                <span class="apple-link">Georg-Simon-Ohm-Berufskolleg Köln</span>
            </td>
        </tr>
        <tr>
            <td class="content-block powered-by">
                Powered by Mitfahrerdatenbank.
            </td>
        </tr>
    </table>
</div>