{#
    @param DateTime departure
    @param string   location
    @param string   type
    @param double   price
    @param string   driver.firstName
    @param string   driver.lastName
    @param string   status
    @param string   statusColor
#}
<table border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td><b>Abfahrtsdatum</b></td>
        <td>{{ departure|date('d.m.Y') }}</td>
    </tr>
    <tr>
        <td><b>Abfahrtszeit</b></td>
        <td>{{ departure|date('H:m:s') }}</td>
    </tr>
    <tr>
        <td><b>Ort</b></td>
        <td>{{ location }}</td>
    </tr>
    <tr>
        <td><b>Fahrtentyp</b></td>
        <td>{% if type == 'OUTWARD' %}HINFAHRT{% else %}RÜCKFAHRT{% endif %}</td>
    </tr>
    <tr>
        <td><b>Fahrtpreis</b></td>
        <td>{{ price|number_format(2, ',', '.') }} €</td>
    </tr>
    {% if driver is defined and driver is not empty %}
    <tr>
        <td><b>Fahrer</b></td>
        <td>{{ driver.firstName }} {{ driver.lastName }}</td>
    </tr>
    {% endif %}
    {% if passenger is defined and passenger is not empty %}
    <tr>
        <td><b>Mitfahrer</b></td>
        <td>{{ passenger.firstName }} {{ passenger.lastName }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><b>Status</b></td>
        <td><b><span style="color: {{ statusColor }};">{{ status }}</span></b></td>
    </tr>
    </tbody>
</table>