{% extends '@App/Email/layout.html.twig' %}

{% block title %}E-Mail Adresse verifizieren{% endblock title %}

{% block body %}
    <p>Hallo {{ firstName }} {{ lastName }},</p>
    <p>bitte verifiziere dich, damit dein Benutzeraccount freigeschaltet wird.</p>

    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="left">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td> <a href="{{ verifyLink }}" target="_blank">E-Mail Adresse verifizieren</a> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock body %}