<table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
    <tbody>
    <tr>
        <td align="left">
            <table border="0" cellpadding="0" cellspacing="0">
                <tbody>
                <tr>
                    <td> <a href="#" target="_blank">Zur Web-App</a> </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>